
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;

    transition: all 0.3s ease;
}

.header h1 {
    font-size: 24px;
    font-weight: 400;
}

.header .form {
    /* position: absolute;
    top: 60px;
    left: 70px; */

    /* margin-top: -15px; */
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header .form input {
    width: 350px;
    height: 40px;
    padding: 0 15px 0 15px;
    border-radius: 5px;
    background-color: #333333;
    border: 0;
    color: #C2C2C2;
    font-size: 14px;
    outline: none;

    transition: all 0.3s ease;
}

.search_icon {
    margin-left: -18px;
    position: relative;
    right: 20px;
    top: 3px;
}

.header .form input:focus + .search_icon {
    display: none;
}

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 10px;
    width: 300px;
    height: 600px;
    overflow: hidden;
    background-color: #1C1C1C;
    border-radius: 10px;
}

.sidebar_holder {
    margin-top: 15px;
    border-radius: 10px;
    height: 10px;
    width: 300px;
    background-color: #1C1C1C;
}

.sidebar h2 {
    font-size: 18px;
    font-weight: 400;
}

.item_top {
    width: 280px;
    height: 130px;
    overflow-y: hidden;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.item_top span {
    width: 98%;
    background-color: #3E3E3E50;
    position: relative;
    top: -60px;
    text-align: center;
    pointer-events: none;
    text-shadow: 0 3px 3px #1C1C1C;
}

.topbar_sidebar {
    width: 250px;
    height: 3px;
    margin-top: -15px;
    margin-bottom: -15px;
    background-color: #3E3E3E80;
    border-radius: 5px;
}

.item_container {
    margin-top: 25px;
}

.item_sidebar {
    display: flex;
    align-items: center;

    width: 250px;
    height: 80px;
    overflow-y: hidden;
    border-radius: 5px;
    border-bottom: 3px solid #33333380;
    margin-bottom: 5px;
}

.item_sidebar div {
    width: 60px;
    overflow: hidden;
    height: 100px;
    overflow: hidden;
}

.item_sidebar div img {
    width: 120px;
    height: 100px;
    transform: scaleX(2);
}

.item_sidebar a {
    color: #F5F3F4;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
}

.item_sidebar a:hover {
    text-decoration: underline;
    text-decoration-color: #F5F3F4;
}

.content main {
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
}

.anime_box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -20px;

    width: 150px;
    height: 250px;
    cursor: pointer;
}

.anime_box figure {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.anime_box figure img {
    height: 200px;
    transform: scaleX(1.6);
}

.anime_box a {
    position: relative;
    top: -15px;
    font-size: 16px;
    cursor: pointer;
}

@media (min-width: 900px) {
    .content {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 20vh 70vh 10vh;
        grid-template-areas: "header header" "main aside";
    }

    .content header {
        height: 100px;
        grid-area: header;
    }

    .content main {
        grid-area: main;
    }

    .content aside {
        grid-area: aside;
    }
}